.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-field {
    width: 400px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .button-spacing {
    margin-left: 20px; /* Ajusta el valor según el espaciado deseado */
  }